table { width: 60%; border-collapse: collapse; margin-top: 20px; }
td, th { border: 1px solid #aaa; padding: 8px; }

.modal {
  display: none;
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%; height: 100%;
  top: 0; left: 0;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}
